.alert{
    z-index: 99;
    min-width:30%;
    
    animation: slide 0.5s forwards;
}
@keyframes slide {
    100% { top: 30px; }
}
@media screen and (max-width: 668px) {
    .alert{ /* center the alert on small screens */
        left: 10px;
        right: 10px; 
    }
}
