//
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//@import 'variables';
@import "~bootstrap/scss/functions";
//@import 'variables';
@import 'newBootVars';
@import "~bootstrap/scss/variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

html{
  font-family: 'Montserrat', sans-serif !important;
}

// Scrollbar jump in fix
@media screen and (min-width: 960px) {
    html {
        width:100vw;
        overflow-x:hidden;
    }
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color:#5d0c75;
  outline: 1px solid #c1bac5;
}

.customScroll::-webkit-scrollbar {
  width: 0.5em;
}
 
.customScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.customScroll::-webkit-scrollbar-thumb {
  background-color:#5d0c75;
  outline: 1px solid #c1bac5;
}
.alert {
  z-index: 99;
  min-width: 30%;
  animation: slide 0.5s forwards;
}

@keyframes slide {
  100% {
    top: 30px;
  }
}
@media screen and (max-width: 668px) {
  .alert {
    /* center the alert on small screens */
    left: 10px;
    right: 10px;
  }
}
.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;


  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover,
    &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}

.home-bg{
  // background-color: $pink;
  // height: 85vh;
  padding-bottom: 10vh;
  position: relative;
}

.morrocan-bg{
  background-color: $purple;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%2327232a' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-attachment:fixed;

}

.purple-bg{
  background-color: $purple;
}

// SVG DIVIDER
.editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index:5;
  bottom:-0.1px;
  position:absolute;
  left:0px;
  float:left;
  // background-color: transparent;
}

.parallax1 > use {
  animation: move-forever1 20s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 16s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 12s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.home-title{
font-size: 5rem;
margin-top: 5%;
color: #FFF;
}

.no-padding-right{
  padding-right: 0px!important;
}
.gradient-bg{
  background: rgb(2,0,36);
background: linear-gradient(75deg, rgba(5, 5, 5, 0.6) 0%, rgba($purple,0.0) 100%);
border-bottom-left-radius:15px;
padding-bottom: 10%!important;
}

main{
  height: 100%;
}

.fillScreen{
  // min-height: inherit;
  height: 100%;
  // height: 95vh;
  padding: 10vh 0;
}
.marginScreen{
  margin-bottom: 11vh;
}

@media (max-width: 768px) { 
  .break-size{
    font-size:2.5rem
  }
  // .gradient-bg{
    // border-bottom-right-radius:15px;
  // }
  .homepage-image{
    height: 300px;
}
// .home-title{
//   // margin-top: 5%;
// }
 }

 .nav-login{
   border: 1px solid ;
 }

 .footer-copyright{
   background-color: $gray-900;
 }

.page-footer{
  background-color: $black;
}
.min100vh{
  min-height: 100vh;
}

.homepage-image{
  height: 500px;
  // min-height: 300px;
}

.cutout{
  height: 250px;
  background-position: center;
  background-size: cover ;
  background-blend-mode: luminosity;
  opacity:0.4;
  border: 1px solid $white; 
  outline: 3px solid $purple;
  // border-radius: 15px;
}
.pointer:hover{
  cursor: pointer;
}
.cutout:hover {
  cursor: pointer;
  // animation-name: example;
  // animation-duration: 0.3s;
  // animation-fill-mode: forwards;
  // -webkit-animation: cutHover 0.8s 1 alternate ease-in-out forwards;
  //   -moz-animation: cutHover 0.8s 1 alternate ease-in-out forwards;
    animation: cutHover 0.6s alternate ease-in-out forwards, bg-scale 0.2s alternate 0.4s ease-in-out forwards;
    


  border-radius: 0px;
 
}
@keyframes cutHover {
  to { opacity: 0.7;
  border-style: outset;
  background-size: 100%;
  border: 5px solid $white; 
  outline: 8px outset $purple;
  // background-color: radial-gradient(circle, rgba(0,0,0,1) 0%, $purple 100%);

}
  
}
@keyframes bg-scale {
  from{background-size: 100%;}
  to { 
  background-size: 130%;}
}


.cut1{
  background-image: url("../img/webmates.jpg");
}
.cut2{
   background-image: url("../img/heartcode.jpg");
}

.box-text{
  text-shadow: 4px 2px 8px rgba(0,0,0,1);
// text-shadow: 5px 4px  -4px rgba(0,0,0,0.85);
}

.invoice-fillscreen{
  background-color: $gray-500;
    // min-height: inherit;
    height: 100%;
    // height: 95vh;
    // padding: 10vh 0;
}
.light-bg{
  background-color: $white;
}
.med-bg{ background-color:rgb(218, 213, 220,0.5);}
.radius15{
  border-radius: 5px;
}
.centerVert{
  display: flex;
  align-content: center;
}
.min-vh-80{
  min-height: 80vh;
}
.min-vh-95{
  min-height: 95vh;
}
.custBadge{
  background-color: $red;
  border-radius: 10px;
}
.myMain{
  display: flex;
  flex-direction: column;
}

.flex1{
  flex:1;
}

.drawer {
  position: fixed;
  background-color: $white;
  width: 40%;
  height: 100%;
  right: 0px;
  top:0;
  z-index: 99999999;
  outline: none;
  // box-shadow: 0px -5px 100px;
}
@media only screen 
   and (max-width : 425px) {
     .drawer {
    width:90%;
   }
}
