@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);.alert {
  z-index: 99;
  min-width: 30%;
  -webkit-animation: slide 0.5s forwards;
          animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
  100% {
    top: 30px;
  }
}

@keyframes slide {
  100% {
    top: 30px;
  }
}

@media screen and (max-width: 668px) {
  .alert {
    /* center the alert on small screens */
    left: 10px;
    right: 10px;
  }
}

